
img {
    max-width: 100%;
    max-height: 100%;
    margin: auto;

}
.LeftSideImage {
    background-image: url(nutsAndBolts.jpg);
    background-size: cover;
    width: 10vw;
    height: 100vh;
    position: fixed;
    opacity: 0.7;
    padding-right: 5vh;
}

.RightSideImage {
    background-image: url(nutsAndBoltsRight.jpg);
    background-size: cover;
    width: 10vw;
    height: 100vh;
    position: fixed;
    left: 90%;
    opacity: 0.7;
}

.Logo   {
    background-image: url(logo.png);
    background-size: cover;
    width: 33vh;
    height: 30vh;
    position: absolute;
    left: 10%;
    top: 1%;

}



body {
    background-color: rgba(0, 43, 120,0.6);
    color: aliceblue;
}


.row {
    padding-top: 10vh;
}

.col-sm-6 {
    border-style: solid ;
    border-color: rgba(0, 43, 120,1);
    border-width: 1vh;
    padding-right: 5vh;
    padding-left:  5vw;
}

h2 {
   padding-top: 5vh;
}
h1 {
    text-align: center;
    font-size: 600%;
    padding-bottom: 5vh;
    padding-top: 5vh;
}
p {
    padding-top: 5vh;
    padding-bottom: 5vh ;
}
.containerCarousel {
    width: 90% !important;
    height : 30vh;
    padding-left: 10vw;
    padding-bottom: 40vh;
}

.card-title  {
    color: black;
}

.card-text {
    color: black;
}

.container {
    padding-bottom: 5vh;
}

